body {
	background-color: #575757;
	color: #ccc9c9;
	font-family: Arial, Helvetica, sans-serif;
    background-image: url(image/leftwall.jpg);
    background-repeat: repeat-y;
}

nav {
	background-color: #fbbbbb;
	background-image: linear-gradient(to bottom, #fbbbbb, #575757);
	font-weight: bold;
	padding: 1.5em;
	font-size: 120%;
	float: right;
	width: 160px;
	padding-bottom: 39em;
}
nav a:link {
	color: #5c7fa3;
}
nav a:visited {
	color: #344873;
}
nav a:hover {
	color: #bd1b1b;
	background-color: #575757;
}
nav a {
	text-decoration: none;
	display: block;
	padding: 1em 2em;
	transition: background-color 2s linear;
}
header {
	background-color: #d62e10;
	color: #FFFFFF;
	line-height: 400%;
	text-indent: 2em;
}
main {
	margin-left: 20px;
}
h1 {
	margin-bottom: 0;
	font-family: Georgia, 'Times New Roman', serif;
    font-weight: bold;
}
h2 {
	color: #d62e10;
	font-family: Georgia, 'Times New Roman', serif;
}
ul {
	list-style-image: url(image/marker.jpg);
}
table {
	border: solid 2px #cc5e1e;
	border-collapse: collapse;
	background-color: #e09c9c;
	color: #575757;
}
td, th{
	padding: 0.5em;
	border: 2px solid #cc5e1e;
}
input, textarea {
	display: block;
	margin-bottom: 20px;
}
input[type="submit"]{
	margin-left: 140px;
}
label {
	float: left;
	display: block;
	text-align: right;
	width: 140px;
	padding-right: 5px;
}
footer {
	font-size: 75%;
	font-family: Georgia, 'Times New Roman', serif;
	font-style: italic; text-align: center;
}